html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: 'transparent';
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 20px;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #75878b;
}
